:root {
  --color-black: #1E2024;
  --color-gray-dark: #292c31;
  --color-gray-medium: #62656A;
  --color-gray-light: #9A9DA2;
  --color-gray-blue: #31404b;
  --color-green: #28712a;
  --color-green-dark: #1d4f1e;
  --color-green-light: #7BBD7D;
  --color-white: #FFF;
  --color-green-alpha: rgb(186, 218, 85, 0.1);
  --color-green-alpha-2: rgb(186, 218, 85, 0.5);
  // --color-green-dark-hover: #3f833d;
  // --color-green-dark-alpha: rgb(75, 155, 72, 0.1);
  // --color-green-dark-alpha-2: rgb(75, 155, 72, 0.25);

  --font-body: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-title: 'Poppins', 'Montserrat', Verdana, sans-serif;
}
