@import '~modern-css-reset/src/reset';

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,700|Source+Sans+Pro:400,700&display=swap');
// @import '~foundation-sites/scss/util/util';
@import './settings';
@import '~foundation-sites/scss/foundation';

@include foundation-everything;

a {
  text-decoration-skip-ink: all;
}

.highlight {
  text-shadow: 3px 4px 5px #333;
}

.home__fullwidth_section {
  background-color: var(--color-green-alpha);
  border-bottom: 1px solid var(--color-green-alpha-2);
  margin-bottom: 2em;
}

.home__picture--left {

}

.home__text--right {
  padding: 2em;

  @include breakpoint(medium) {
    padding: 4em;
  }
}
