@import '~modern-css-reset/src/reset';

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,700|Source+Sans+Pro:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');

// @import '~foundation-sites/scss/util/util';
@import './settings';
@import '~foundation-sites/scss/foundation';

@include foundation-everything;

a {
  text-decoration-skip-ink: all;

  img {
    transform: scale(1);
    transition: transform .5s cubic-bezier(0.19, 1, .22, 1) !important;
  }

  &:hover {
    img {
      transform: scale(1.05) !important;
    }
  }
}

h1 {
  font-weight: 700;
  margin: 1em 0;

  .hero_image & {
    margin: 0;
  }
}

.highlight {
  text-shadow: 1px 1px 1px #333;
}

.home__fullwidth_section {
  background-color: var(--color-green-alpha);
  border-bottom: 1px solid var(--color-green-alpha-2);
  margin-bottom: 2em;
}

.services__fullwidth_section {
  background-color: var(--color-green-alpha);
  border-bottom: 1px solid var(--color-green-alpha);
  border-top: 1px solid var(--color-green-alpha);
  margin: 2em 0;
  padding: 2em 0;
}

.home__picture--left {}

.home__text--right {
  padding: 2em;

  @include breakpoint(medium) {
    padding: 4em;
  }
}

.grid-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-green-alpha-2);

  &__title {
    position: absolute;
    color: var(--color-white);
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #333;
  }
}

.border--before {
  &::before {
    content: ' ';
    display: block;
    width: 4rem;
    border-top: 2px solid var(--color-green-light);
    margin-bottom: 10px;
  }
}

.border--after {
  margin-bottom: 2.5rem;
  position: relative;

  &::after {
    border-top: 2px solid var(--color-green-light);
    position: absolute;
    width: 4rem;
    bottom: -8px;
    left: 0;
    content: '';
  }
}

.margin--before {
  margin-top: 2.5rem;
}

.gallery {
  margin-bottom: 2.5rem;
}
