@import '~modern-css-reset/src/reset';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700&display=swap');
// @import '~foundation-sites/scss/util/util';
@import './settings';
@import '~foundation-sites/scss/foundation';

@include foundation-everything;

a {
  text-decoration-skip-ink: all;
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

@include breakpoint(small only) {
  .menu {
    flex-direction: column;
    width: 100%;
  }
}
