@import '~foundation-sites/scss/util/util';

.l--header {
  box-shadow: 0 2px 40px 0 rgba(0,0,0,.05);
}

.navigation-wrapper {
  background: var(--color-white);
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar.sticky {
  height: calc(100px + 1em);
  padding: .5em 0;

  &.is-stuck {
    height: 75px;
    padding: 0;

    img {
      height: 75px;
      width: auto;
    }
  }

  img {
    height: 100px;
    width: auto;
  }
}

.top-bar.grid-container {
  width: 100%;
}

.title-bar-title {
  margin-right: .5em;
}

.menu {
  font-family: var(--font-title);

  a {
    color: var(--color-black);
    position: relative;

    &:hover {
      color: var(--color-green);
    }

    &.active {
      color: var(--color-green);

      &::after {
        content: " ";
        text-align: center;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: var(--color-green);
        display: block;
        position: absolute;
        top: calc(50% - 2px);
        left: 5px;

        @include breakpoint(medium) {
          top: calc(50% + 14px);
          left: calc(50% - 2px);
        }
      }
    }
  }
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

@include breakpoint(small only) {
  .menu {
    flex-direction: column;
    width: 100%;
  }
}
