.navigation-wrapper {
  background: var(--color-white);
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar.grid-container {
  width: 100%;
}

.title-bar-title {
  margin-right: .5em;
}

.menu {
  a {
    color: var(--color-green);

    &:hover {
      color: var(--color-green-dark);
      text-decoration: underline;
    }

    &.active {
      color: var(--color-green-dark);
      text-decoration: underline;
    }
  }
}
